@model IEnumerable<AutoShop.Models.Direccion>

@{
    ViewBag.Title = "MisDirecciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MisDirecciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.municipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numExterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo_postal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.municipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numExterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_postal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>



    @Html.ActionLink("Mis datos", "MisDatos", "Cliente", null, new { id = "add" })
