@model AutoShop.Models.Producto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<div class="text-white sticky-title p-2" style="background-color: #e33b5c">
    <h1>Eliminar Producto</h1>
</div>



<div class="card" style="margin-top: 15px; background-color: rgb(255, 239, 239); border-color: #e33b5c">
    <div class="card-body" style="padding-left:3%; padding-top:3%; font-size:24px">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align:left; font-size: 24px" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control col-md-10", @disabled = "disabled" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.id_categoria, htmlAttributes: new { @class = "control-label col-md-8", @style = "text-align:left; font-size: 24px" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Categoria.nombre, new { htmlAttributes = new { @class = "form-control col-md-10", @disabled = "disabled" } })


                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-8", @style = "text-align:left; font-size: 24px" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control col-md-10", @disabled = "disabled" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-8", @style = "text-align:left; font-size: 24px" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control col-md-10", @disabled = "disabled" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.descuento, htmlAttributes: new { @class = "control-label col-md-8", @style = "text-align:left; font-size: 24px" })
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.descuento,
                    new List<SelectListItem>{
                        new SelectListItem { Value="10",Text="10%"},
                        new SelectListItem { Value="20",Text="20%"},
                        new SelectListItem { Value="30",Text="30%"},
                        new SelectListItem { Value="40",Text="40%"},
                        new SelectListItem { Value="50",Text="50%"},
                        new SelectListItem { Value="60",Text="60%"},
                        new SelectListItem { Value="70",Text="70%"},
                        new SelectListItem { Value="80",Text="80%"},
                        new SelectListItem { Value="90",Text="90%"},
                        new SelectListItem { Value="100",Text="100%"},
                    }, new {@class= "miselect  col-md-10", @disabled = "disabled", @style ="width:100%; height:40px"})
                            </div>

                            <div class="form-group" style="margin-top:13px">
                                @Html.LabelFor(model => model.cantidad, htmlAttributes: new { @class = "control-label col-md-8", @style = "text-align:left; font-size: 24px" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control col-md-10", @disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.imagen)
                </div>
            </div>

            <div class="offset-md-2 col-md-8 ">
                <div class="card" style="margin-top: 15px; margin-left: 25px; margin-right: 25px; background-color: rgb(255, 239, 239); border-color: #e33b5c">
                    <div class="card-body">
                        <label>Imagen:</label>

                        <div class="row">

                            <div class="card" style="margin-left: 25%;margin-right: 25% ;background-color: rgb(255, 239, 239); border-color: #e33b5c">
                                <div class="card-body">
                                    <img src="@Url.Action("getImg",new { id = Model.id})" alt="@Model.nombre" height="120" width="80" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color text-center">
                <input type="submit" value="Eliminar Producto" class="btn btn-danger" />
            </div>
        }
    </div>
</div>